@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full text-white;
    background-color: var(--color-background);
  }
  :root {
    --color-background: #141414;
    --color-spinred: #e50914;
  }
}
.clip-wedge {
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 50%);
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.navbar {
  @apply flex justify-between items-center p-4;
  background-color: #0a0a0a;
}
