@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full;
    background-color: #141414;
  }
}
.clip-wedge {
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 50%);
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.navbar {
  @apply flex justify-between items-center p-4 text-white;
  background-color: #0a0a0a;
}
